---
### PATHS
DATA_DIR: 'D:/DataStorage/HiRISE'
OUTPUT_DIR: 'results'

URL: 'https://hirise-pds.lpl.arizona.edu/PDS'
PATH2IDX:  [
    'INDEX/RDRCUMINDEX.TAB',
    'INDEX/RDRCUMINDEX.LBL'
]

### FILTERS
# basic
columns: ['PRODUCT_ID','FILE_NAME_SPECIFICATION','RATIONALE_DESC',
        'OBSERVATION_START_TIME', 'MAP_SCALE', 'SOLAR_LONGITUDE', 
        'CORNER1_LATITUDE','CORNER1_LONGITUDE','CORNER2_LATITUDE','CORNER2_LONGITUDE',
        'CORNER3_LATITUDE','CORNER3_LONGITUDE','CORNER4_LATITUDE','CORNER4_LONGITUDE']
min_lat: 80
scale: 0.25
keywords: ['scarp']
season: 'Northern summer'

# temporal stacks
min_years: 5
max_gap: 0
mys: []

# clustering
min_samples: 2
epsilon: 2000

# Filter sequence
filter_sequence: [
    "load_df",
    "latitude_filter",
    "scale_filter",
    "season_filter",
    "density_filter",
    "temporal_filter",
    "alignment_filter",
    "save_df"
]

### MAPPING
# pygmt
resolution: "10m"
map_region: "0/360/78/90"
projection: "G0/90/12c"
